<div class="start-bar">
  <button class="start-button" type="button">
    <img src="/assets/icons/windows-0.png" class="icon icon-small">
    <span>Start</span>
  </button>
  <section class="shortcuts-container">
    <img src="/assets/icons/desktop-2.png" class="icon icon-shortcut">
    <img src="/assets/icons/msie2-2.png" class="icon icon-shortcut">
    <img src="/assets/icons/outlook_express-5.png" class="icon icon-shortcut">
    <!-- <img src="/assets/icons/notepad-5.png" class="icon icon-shortcut"> -->
  </section>
  <section class="taskbar-main-container">
    <div class="taskbar-container">
      <div class="task-item">
        <img src="/assets/icons/notepad-5.png" class="icon icon-task-item">
        <span>Untitled - Notepad</span>
      </div>
    </div>
    <div class="tray-container">
      <div class="tray-content">
        <div class="tray-icons">
          <img src="/assets/icons/time_and_date-4.png" class="icon icon-tray">
          <img src="/assets/icons/themes-2.png" class="icon icon-tray">
          <img src="/assets/icons/network_normal_two_pcs-5.png" class="icon icon-tray">
        </div>
        <span class="clock">20:41</span>
      </div>
    </div>
  </section>
</div>
